#wrapContent{
	min-height: 2000px;
    background: url(../img/bg_875d09c.jpg) no-repeat ;
}
#fanhui{
    position: fixed;
    right: 0;
    bottom: 10%;
    cursor: pointer;
    display: none;
    width: 100px;
    height: 141.44px;
}
#mainContent{
	width: 1100px;
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    clear: both;
    position: relative;
    background: rgba(135,206,235,0.8);
   /*  background: rgba(255,255,255,0.5) */
}
.title-three{
	margin-top: 40px;
    margin-bottom: 20px;
    font-size: 60px;
	color: white;
    font-weight: 800;
    text-shadow: 0 0 10px red;
	display: block;
	min-width: 204px;
	max-width: 306px;
	height: 78px;
}
#mainContent>em{
	display: block;
	width: 100%;
	height: 2px;
	background: url(../img/img_one/pen_line_long.png);
	background-size: 100%;
}
.title{
    font-size: 80px;
	color: white;
	font-weight: 800;
	text-shadow: 0 0 10px yellow;
}
.title-two{
    font-size: 30px;
	color: white;
    font-weight: 800;
    letter-spacing: 5px;
}
.time{
    float: left;
    font-size: 30px;
    margin-top: 40px;
}
.time>span{
    margin-right: 20px;
}
.main{
    position: absolute;
    top: 40px;
    right: 40px;
}
.main>span{
    float: left;
}
.main>span:last-child{
    position: absolute;
    right: 0;
    top: 0;
}
.neirong{
    clear: both;
    padding-top: 30px;
    text-align: left;
    font-weight: 900;
    font-family: '微软雅黑'；
}
.aixin{
    height: 73px;
    width: 73px;
    margin: 0 auto;
    position: relative;
}
.aixin>div{
    float: left;
}
.aixin>div:first-child{
    width: 73px;
    height: 73px;
    background: url(../img/img_two/article_iflike.png) no-repeat;
    cursor: pointer;
}
.aixin>div.dianzan{
    width: 135px;
    height: 35px;
    margin-top: 20px;
    display: none;
    left: 73px;
    position: absolute;
    background: url(../img/img_two/article_iflike_nomberbg.png) no-repeat;
}
.aixin>div:last-child>span{
    line-height: 35px;
}
.aixin>div:first-child:hover{
    animation: su-pudding 0.5s linear 0s infinite;
}
.aixin:hover .dianzan{
    display: block;
}