<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <script src="vue.js"></script>
</head>
<body>
    <div class="box">
       <!--  <h5>{{msg}}{{msg1}}</h5> -->
       <input type="checkbox" v-model='check' value="馒头">馒头
       <input type="checkbox" v-model='check' value="包子">包子
       <br />
       选择的时：{{check}}
    </div>
    <!-- <div class="box">
        <h5>{{msg}}{{msg1}}</h5>
    </div> -->

</body>
</html>
<script>
    var vm = new Vue({
        el:'div',
        data:{
            msg:'徐磊这个弱智',
            msg1:'biglei',
            check:[]
        }
    })
</script>