body,html{
    width: 100%;
    height: 100%;
}
*{
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}
.header-wrap{
    background: url(../img/banner.jpg) no-repeat;
    /* background-size: 100%; */
    width: 100%;
    height: 750px;
}
.top-left{
    padding: 72px 30px 30px;
    background: #ccc;
    float: left;
    color: white;
}
.top-left>span{
    font-size: 30px;
}
.top-right{
    float: right;
    margin-top: 7%;
}
.top-right>span{
    display: inline-block;
}
.top-right>span.one{
    width: 30px;
    height: 30px;
    background: url(../img/icon-tb.png) -5px -12px no-repeat;
}
.top-right>span.two{
    width: 30px;
    height: 30px;
    background: url(../img/icon-tb.png) -49px -12px no-repeat;
}
.top-right>span.three{
    width: 30px;
    height: 30px;
    background: url(../img/icon-tb.png) -88px -12px no-repeat;
}
.top-right>span.one:hover{
    background-position-y: -58px;
}
.top-right>span.two:hover{
    background-position-y: -57px;
}
.top-right>span.three:hover{
    background-position-y: -57px;
}
.top-center{
    width: 575px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.top-center>ul{
    height: 100%;
}
.top-center>ul>li>i{
    display: block;
    position: relative;
    z-index: 2;
}
.top-center>ul>li{
    padding: 50px 30px;
    float: left;
    margin-right: 5px;
    text-align: center;
    color: white;
    position: relative;
}
.top-center>ul>li>span{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: #6ea145;
}
.top-center>ul>li>a{
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
}
.top-center>ul>li:hover .zhezhao{
    top: 0 !important;
    transition: all 0.3s linear;
}
.top-center>ul>li>span.zhezhaoF{
    top: 0;
}
.nav-anniu{
    text-align: center;
    margin-top: 12%;
    display: none;
}
@media only screen and (max-width:995px){
    .top-center{
        width: 100%;
    }
    .top-center>ul{
        position: relative;
        margin-left: -25px;
        margin-top: 45px;
        display: none;
        overflow: hidden;
        z-index: 99;
    }
    .top-center>ul>li{
        float: none;
        padding: 20px 30px;
        background: #d0d0d0;
        width: 98%;
    }
    .top-center>ul>li>span.zhezhaoF{
        height: 100%;
    }
    .top-center>ul>li>span{
        top:0;
        height: 0;
    }
    .top-center>ul>li:hover .zhezhao{
        height: 100% !important;
        transition: all 0.3s linear;
    }
    .nav-anniu{
        display: block;
    }
}
@media only screen and (min-width:995px){
    .top-center>ul{
        display: block !important;
    }
}
.title{
    /* width: 45%;
    position: absolute;
    top:58%;
    left: 47%; */
    width: 52%;
    margin-top:20%;
    margin-left: 45%;
}
.title>h1{
    color: white;
}
.title>p{
    color: #d0d0d0;
}
.title>button{
    padding: 0px 30px;
    height: 35px;
    background: rgb(110,161,68);
    border: rgb(110,161,68);
    color: white;
    border: 0;
    line-height: 40px;
    outline:none;
}
.title>button:hover{
    color: rgb(110,161,68);
    background: white;
    transition: all 0.3s linear;
}