.add{
	display: flex;
	flex-direction: column;
}
.add>div{
	display: flex;
	flex-direction: row;
	padding: 0 15px;
	margin-top: 20px;
}
.add>div>input{
	outline: none;
	border: 0;
	border-bottom: 1px solid rgb(233,233,233);
	width: 80%;
}
.add>div>span{
	display: inline-block;
	width: 5px;
	height: 21px;
	background: red;
}
.add>div:last-child{
	padding: 0 0 15px;
	border-bottom: 1px solid rgb(233,233,233);
}
.add>div>button{
	border: 1px solid rgb(233,233,233);
	width: 35%;
	height: 35px;
	background: white;
	margin-left: 10%;
}
